body{
    background-color: lavender;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}
h1{
    color: rgb(51, 153, 56);
    font-style: normal;
}
h3{
    color: #f4c7ab;
    font-style: initial;
}